.advantages__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.advantages__title {
  margin-bottom: 35px;

  font-size: 36px;
  font-weight: 300;
  line-height: 60px;
  text-transform: none;
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item {
  position: relative;
  margin-bottom: 20px;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $accent-color;
  }

  &::after {
    content: "";

    position: absolute;

    background-repeat: no-repeat;
    background-position: center;
  }

  &--1 {
    &::after {
      top: 15px;
      left: 18px;

      width: 26px;
      height: 29px;

      background-image: url("../img/advantage-leaf@1x.png");
    }
  }

  &--2 {
    &::after {
      top: 13px;
      left: 15px;

      width: 30px;
      height: 32px;

      background-image: url("../img/advantage-powder@1x.png");
    }
  }

  &--3 {
    &::after {
      top: 15px;
      left: 18px;

      width: 23px;
      height: 30px;

      background-image: url("../img/advantage-dining@1x.png");
    }
  }

  &--4 {
    &::after {
      top: 15px;
      left: 18px;

      width: 26px;
      height: 31px;

      background-image: url("../img/advantage-clock@1x.png");
    }
  }
}

.advantages__text {
  padding-left: 80px;

  @include content-text;
}

@media (min-width: 768px) {
  .advantages__wrapper {
    width: 768px;
    padding: 0 30px;
  }

  .advantages__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 324px;
    margin-bottom: 100px;

    &::before {
      width: 80px;
      height: 80px;
    }

    &--1 {
      &::after {
        top: 25px;
        left: 28px;
      }
    }

    &--2 {
      &::after {
        top: 23px;
        left: 25px;
      }
    }

    &--3 {
      &::after {
        top: 25px;
        left: 28px;

        width: 24px;
      }
    }

    &--4 {
      &::after {
        top: 25px;
        left: 28px;
      }
    }
  }

  .advantages__title {
    margin-bottom: 60px;

    font-size: 60px;
  }

  .advantages__text {
    width: 246px;
    padding-left: 0;
    padding-top: 110px;

    @include content-text(16px, 24px);
  }
}

@media (min-width: 1300px) {
  .advantages__wrapper {
    width: 1300px;
    padding: 0 40px;
  }

  .advantages__item {
    width: 245px;
  }
}
