.button {
  display: inline-block;
  padding-top: 12px;
  padding-left: 40px;
  padding-bottom: 12px;
  padding-right: 40px;
  border: none;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-color;

  background-color: $accent-color;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.2);
  }
}
