.catalog__title {
  margin-bottom: 30px;

  font-size: 36px;
  font-weight: 300;
  line-height: 60px;
  text-transform: none;
}

.catalog__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__slogan {
  @include content-text(12px, 16px);
}

.catalog__button {
  color: $text-color;

  background-color: $bg-color;

  &:hover,
  &:focus {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: rgba(0, 0, 0, 0.3);
  }
}
