.contacts__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.contacts__address-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.contacts__slogan {
  width: 140px;
  margin: 0;
}

.contacts__address {
  width: 140px;
  margin: 0;

  @include content-text(14px, 20px);
  font-style: normal;
}

@media (min-width: 768px) {
  .contacts__wrapper {
    width: 768px;
    padding: 0 30px;
  }

  .contacts__slogan {
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    width: 166px;

    text-align: right;

    @include content-text(16px, 20px);

    &--block {
      display: block;
    }
  }
}
