.extra-good {
  padding: 20px 0;
  border-bottom: 1px solid #cdcdcd;
}

.extra-good__title {
  margin: 0;
  margin-bottom: 15px;
  line-height: 16px;
  font-weight: 300;
}

.extra-good__list {
  margin: 0;
  margin-bottom: 20px;
}

.extra-good__item {
  margin: 0;

  @include content-text(14px, 14px);
}

@media (min-width: 768px) {
  .extra-good__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .extra-good__list {
    margin: 0;
  }

  .extra-good__title {
    margin: 0;
    line-height: 20px;
  }

  .extra-good__button {
    width: 100%;
  }

  .extra-good__item {
    @include content-text(16px, 20px);

    &--text-right {
      width: 95px;
      text-align: right;
    }
  }
}

@media (min-width: 1300px) {
  .extra-good {
    display: flex;
    justify-content: space-between;

    padding: 15px 0;
  }

  .extra-good__button {
    min-width: auto;
    width: 245px;
  }

  .extra-good__content {
    width: 610px;
  }
}
