.extra-good {
  padding: 20px 0;
  border-bottom: 1px solid #cdcdcd;

  &:first-child {
    border-top: 1px solid #cdcdcd;
  }
}

.extra-good__title {
  margin: 0;
  margin-bottom: 15px;
  line-height: 16px;
  font-weight: 300;
}

.extra-good__list {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
}

.extra-good__item {
  margin: 0;

  @include content-text(14px, 14px);

  &--text-right {
    text-align: right;
  }
}

.extra-good__button {
  width: 100%;
}

@media (min-width: 768px) {
  .extra-good {
    padding: 27px 35px;
    border-right: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;

    &:first-child {
      border-top: 1px solid #cdcdcd;
    }
  }

  .extra-good__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .extra-good__list {
    margin: 0;
    width: auto;
  }

  .extra-good__title {
    margin: 0;
    line-height: 20px;
  }

  .extra-good__button {
    width: 100%;
  }

  .extra-good__item {
    @include content-text(16px, 20px);

    &--text-right {
      width: 95px;
      text-align: right;
    }
  }
}

@media (min-width: 1300px) {
  .extra-good {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-right: none;
    border-left: none;
  }

  .extra-good__button {
    min-width: auto;
    width: 245px;
  }

  .extra-good__content {
    width: 610px;
    margin: 0;
  }
}
