.list-contacts__item {
  margin-bottom: 14px;
}

.list-contacts__label {
  margin-right: 20px;

  line-height: 18px;
}

.list-contacts__input {
  padding: 15px;
  border: 1px solid $border-color;

  font-weight: 300;
  text-transform: uppercase;
  color: $text-color;
}
