.list-message__textarea {
  height: 150px;
  padding: 15px;
  border: 1px solid rgba(205, 205, 205, 0.5);

  font-family: inherit;
  line-height: 18px;
  font-size: 16px;
  font-weight: 300;
  color: $text-color;
  text-transform: uppercase;

  &:hover {
    border-color: rgba(205, 205, 205, 1)
  }

  &:focus {
    border: 2px solid rgba(0, 0, 0, 1);
  }
}
