.main-form__list-wrapper {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  border: none;
}

.main-form__required-fields {
  margin: 0;

  @include content-text(14px, 16px);
}

.main-form__list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.main-form__list-title {
  margin-bottom: 25px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  text-transform: none;
}

@media (min-width: 768px) {
  .main-form__list-wrapper {
    margin-left: 40px;

    &--border {
      padding: 30px 28px 10px;
      border: 1px solid rgba(205, 205, 205, 0.5);
    }

    &--button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 525px;
      margin-bottom: 70px;
    }
  }

  .main-form__list-title {
    margin-bottom: 70px;

    font-size: 36px;
    line-height: 36px;
  }

  .main-form__button {
    width: 285px;
    padding-top: 16px;
    padding-bottom: 16px;

    font-size: 20px;
    font-weight: 300;
  }
}

@media (min-width: 1300px) {
  .main-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-form__list-wrapper {
    margin-left: 0;

    &--name {
      width: 570px;
    }

    &--border {
      width: 570px;
    }

    &--owner {
      width: 1220px;
    }

    &--button {
      width: 810px;
      margin-bottom: 80px;
    }
  }

  .main-form__button {
    width: 570px;
  }
}
