.main-form__list-wrapper {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0 20px;
  border: none;

  &--border {
    width: auto;
    padding-top: 40px;
    padding-bottom: 15px;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
  }

  &--button {
    text-align: center;
  }
}

.main-form__required-fields {
  margin: 0;

  @include content-text(14px, 16px);
}

.main-form__list-inner-wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-form__list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.main-form__list-title {
  position: relative;

  margin: 0;
  margin-bottom: 25px;
  padding-right: 30px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  text-transform: none;

  &::before {
    content: "";

    position: absolute;
    top: 14px;

    width: 2000px;
    height: 3px;

    background-color: $accent-color;
  }

  &--contacts {
    &::before {
      left: 200px;
    }
  }

  &--comment {
    &::before {
      left: 140px;
    }
  }

  &--more {
    &::before {
      left: 160px;
    }
  }
}

.main-form__button {
  width: 100%;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .main-form__list-wrapper {
    width: 630px;
    padding: 0;

    &--border {
      margin-top: 80px;
      padding: 40px 30px 10px;
      border: 1px solid rgba(205, 205, 205, 0.5);
    }

    &--button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 525px;
      margin: 0;
      margin-bottom: 70px;
    }
  }

  .main-form__list-inner-wrapper {
    width: 570px;
    padding: 0;
  }

  .main-form__list-title {
    margin-bottom: 70px;

    font-size: 36px;
    line-height: 36px;

    &::before {
      top: 22px;
    }

    &::after {
      content: "";

      position: absolute;
      top: 22px;
      right: 250px;

      width: 768px;
      height: 3px;

      background-color: $accent-color;
    }

    &--contacts {
      &::before {
        left: 550px;
      }

      &::after {
        right: 580px;
      }
    }

    &--comment {
      &::before {
        left: 220px;
      }
    }

    &--more {
      &::before {
        left: 250px;
      }

      &::after {
        right: 280px;
      }
    }
  }

  .main-form__button-container {
    width: 630px;
    margin: 0 auto;
  }

  .main-form__button {
    width: 285px;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;

    font-size: 20px;
    font-weight: 300;
  }
}

@media (min-width: 1300px) {
  .main-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-form__list-inner-wrapper {
    width: auto;
  }

  .main-form__list-wrapper {
    margin: 0;

    &--name {
      width: 570px;
      margin-bottom: 70px;
    }

    &--border {
      margin: 0;
      margin-bottom: 70px;
      width: 570px;
      padding: 35px 30px 5px;
    }

    &--comment {
      margin-bottom: 70px;
    }

    &--owner {
      width: 1220px;
    }

    &--more {
      width: 1220px;
      margin-bottom: 20px;
    }

    &--button {
      width: 810px;
      margin-bottom: 90px;
    }
  }

  .main-form__button-container {
    width: 1220px;
  }

  .main-form__button {
    width: 570px;
  }
}
