.product {
  &--show-all {
    text-align: center;
    background-color: $basic-color;
  }
}

.product__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.product__list-wrapper {
  width: 140px;
  padding-top: 25px;

  &--plus {
    width: 280px;
    margin: 0 auto;
  }
}

.product__title {
  width: 90px;
  margin: 0;
  margin-bottom: 15px;

  font-weight: 300;

  &--plus {
    width: 100%;
    margin-bottom: 10px;
  }
}

.product__item {
  @include content-text(12px, 16px);

  &--right-text {
    text-align: right;
  }
}

.product__button {
  width: 280px;
}

.product__button--show-all {
  width: 100%;
  color: $text-color;

  background-color: $bg-color;

  &:hover,
  &:focus {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: rgba(0, 0, 0, 0.3);
  }
}

.product__image-plus {
  margin-bottom: 20px;
  opacity: 0.2;
}

.product__subtitle {
  margin-bottom: 30px;

  @include content-text(12px, 16px);
}

@media (min-width: 768px) {
  .product {
    width: 324px;
    margin-right: 60px;
    margin-bottom: 60px;
    padding: 37px 40px;

    background-color: $bg-color;

    &--show-all {
      background-color: $basic-color;
      border: 1px solid $bg-color;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .product__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    width: auto;
    margin: auto;
    padding: 0;
  }

  .product__button {
    min-width: auto;
    width: 100%;
  }

  .product__title {
    width: 140px;
    margin: 0 auto;
    margin-bottom: 20px;

    font-size: 20px;
    text-align: center;
  }

  .product__list-wrapper {
    width: 100%;
  }

  .product__list {
    width: 100%;
    margin-bottom: 40px;
  }

  .product__item {
    padding: 5px 0;
    border-bottom: 1px solid #cdcdcd;

    @include content-text(16px, 16px);

    &--right-text {
      text-align: right;
    }
  }

  .product__image-plus {
    margin-bottom: 115px;
  }

  .product__subtitle {
    width: 170px;
    margin: 0 auto 85px;

    @include content-text(16px, 20px);
  }
}

@media (min-width: 1300px) {
  .product {
    width: 245px;
    margin-right: 80px;
    margin-bottom: 80px;
    padding: 40px 38px;

    &:nth-child(2n) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
