.site-menu {
  padding: 0;
  margin: 0;

  list-style: none;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.site-menu__item {
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-menu__link[href] {
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-menu__active {
  border-bottom: 2px solid $accent-color;
}
