.site-menu {
  padding: 0;
  margin: 0;

  list-style: none;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.site-menu__item {
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-menu__link[href] {
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-menu__active {
  border-bottom: 2px solid $accent-color;
}

@media (min-width: 768px) {
  .site-menu {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
  }
}

@media (min-width: 1300px) {
  .site-menu {
    font-size: 20px;
    color: $basic-color;
  }

  .site-menu__active {
    border-bottom-color: $basic-color;
  }
}
