.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 127px;
  margin: 0 auto;
  padding: 22px 0;

  list-style: none;
}

.social-list__icon {
  fill: #666666;
}

.social-link {
  &:hover,
  &:focus {
    .social-list__icon {
      fill: $accent-color;
    }
  }

  &:active {
    opacity: 0.3;
  }
}
